body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;    
}
/* Mise en forme indexConsult */
table{
    font-size: 0.84em;
    border: 2px solid rgb(241, 234, 234);
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 7px -1px rgba(180,180,180,0.65); 
    box-shadow: 5px 5px 7px -1px rgba(180,180,180,0.65);
}
.message_row{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.donnees{
    padding:1em;
    text-align: center;
}

.title_table{
    background-color:  rgb(241, 234, 234);
    padding:1em;
}

tr:nth-child(2n +1){
    background-color: rgb(229, 247, 247);
}

#container_select{
    display:flex;
    flex-direction: column;
    justify-content: center;    
    padding:1em;
}
#container_select > input{
    width:7em;
    background-color:  rgb(241, 234, 234);
    margin-top: 0.8em;
    transition: all 200ms linear; 
    margin-left: auto;
    margin-right: auto;
}

#container_select > input:hover{
    background-color:  rgb(241, 234, 234);
    transform: scale(1.2); 
}

#submit_select{
    border-radius: 4px;
}
.table_delete{
    text-align: center;
}
.table_delete:hover{
    background-color: rgb(243, 84, 84);
}
.trash_icon{
    width:2em;
    transition: all 200ms linear; 
}
.trash_icon:hover{
    transform: scale(1.1);    
    }

/* Mise en forme indexBDD */
#title_form{
    padding-top:1em;
    padding-bottom:2em;
}

.container_form{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(241, 234, 234);
    background-color:rgb(241, 234, 234);
    border-radius: 10px;
    width:35vw;    
    padding-right: 2em;    
    text-align: center; 
    -webkit-box-shadow: 5px 5px 7px -1px rgba(180,180,180,0.65); 
    box-shadow: 5px 5px 7px -1px rgba(180,180,180,0.65);   
}
.form{
    text-align: right;
}
.input{
    width:25vw;
    margin-top:1em;
    margin-bottom: 1em;
}
.label{
    margin-left:2em;
}
#btn{
    margin-bottom: 2em;
    width:10em;
    height: 3em;
    border-radius: 7px;
}

